:root {
    /* Spacing */
    --spacing-zero: 0;
    --spacing-xs: clamp(4px, 2px + 0.5vw, 8px);
    --spacing-sm: clamp(8px, 4px + 1vw, 16px);
    --spacing-md: clamp(16px, 12px + 1vw, 24px);
    --spacing-lg: clamp(24px, 20px + 1vw, 32px);
    --spacing-xl: clamp(32px, 24px + 2vw, 48px);
    /* Typography */
    --font-size-hero: clamp(3.815rem, 3.573rem + 0.97vw, 4.3rem);
    --font-size-h1: clamp(2.896rem, 2.436rem + 1.838vw, 3.815rem);
    --font-size-h2: clamp(2.488rem, 2.206rem + 1.128vw, 3.052rem);
    --font-size-h3: clamp(2.074rem, 1.89rem + 0.734vw, 2.441rem);
    --font-size-h4: clamp(1.728rem, 1.616rem + 0.45vw, 1.953rem);
    --font-size-h5: clamp(1.44rem, 1.378rem + 0.246vw, 1.563rem);
    --font-size-h6: clamp(1.25rem, 1.225rem + 0.1vw, 1.3rem);
    --font-size-body: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;
  
    /* Colors */
    --color-gray-0: oklch(97% 0 0); 
    --color-gray-1: oklch(90% 0 0);
    --color-gray-2: oklch(80% 0 0);
    --color-gray-3: oklch(70% 0 0);
    --color-gray-4: oklch(60% 0 0);
    --color-gray-5: oklch(50% 0 0);
    --color-gray-6: oklch(40% 0 0);
    --color-gray-7: oklch(30% 0 0);
    --color-gray-8: oklch(20% 0 0);
    --color-gray-9: oklch(10% 0 0);
    --color-gray-10: oklch(5% 0 0); 
  
    --color-red-0: oklch(97% 0.15 27);
    --color-red-1: oklch(94% 0.20 27);
    --color-red-2: oklch(91% 0.25 27);
    --color-red-3: oklch(86% 0.30 27);
    --color-red-4: oklch(80% 0.35 27);
    --color-red-5: oklch(70% 0.40 27);
    --color-red-6: oklch(60% 0.45 27);
    --color-red-7: oklch(50% 0.50 27);
    --color-red-8: oklch(40% 0.55 27);
    --color-red-9: oklch(30% 0.60 27);
    --color-red-10: oklch(20% 0.65 27);
  
    --color-green-0: oklch(97% 0.15 142);
    --color-green-1: oklch(94% 0.20 142);
    --color-green-2: oklch(91% 0.25 142);
    --color-green-3: oklch(86% 0.30 142);
    --color-green-4: oklch(80% 0.35 142);
    --color-green-5: oklch(70% 0.40 142);
    --color-green-6: oklch(60% 0.45 142);
    --color-green-7: oklch(50% 0.50 142);
    --color-green-8: oklch(40% 0.55 142);
    --color-green-9: oklch(30% 0.60 142);
    --color-green-10: oklch(20% 0.65 142);
  
  --color-positive-bcg: var(--color-green-1); 
  --color-positive-text: var(--color-green-9);
  --color-positive-accent: var(--color-green-6);
  
  --color-negative-bcg: var(--color-red-1);
  --color-negative-text: var(--color-red-9);
  --color-negative-accent: var(--color-red-6);
  
  --color-neutral-bcg: var(--color-gray-0);
  --color-neutral-text: var(--color-gray-8);  
  --color-neutral-accent: var(--color-gray-9);
  }
  